gogs:
  image: gogs
  ports:
    - ${HTTP_PORT}:3000
    - ${SSH_PORT}:22
  links:
    - mysql:db
  labels:
    io.rancher.sidekicks: gogs-data
  volumes_from:
    - gogs-data
  environment:
    GOGS_APP_NAME: ${GOGS_APP_NAME}

gogs-data:
  labels:
    io.rancher.container.start_once: 'true'
  entrypoint:
  - /bin/true
  image: gogs
  volumes:
  - /data

mysql:
  image: mysql:latest
  environment:
    MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    MYSQL_DATABASE: ${MYSQL_DATABASE}
    MYSQL_USER: ${MYSQL_USER}
    MYSQL_PASSWORD: ${MYSQL_PASSWORD}
